@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

@layer base {
  body {
    @apply font-[Open+Sans];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background: linear-gradient(#e66465, #9198e5) !important;
  cursor: pointer;
}
